In [28]:
import pandas as pd

In [29]:
def leitura_csv(file_name):
    return pd.read_csv(f"..\\CSV\\02.silver\\silver_{file_name}.csv")

def salvamento_csv(dataframe, file_name):
    dataframe.to_csv(f"..\\CSV\\03.gold\\gold_{file_name}.csv", index=False)

In [30]:
df_individual = leitura_csv("desempenho_individual")
df_times = leitura_csv("desempenho_times")
df_info = leitura_csv("info_partidas")

In [31]:
df_sumula_completa = pd.merge(df_individual, df_times, on=["Baba", "Time"], how="inner")
df_sumula_completa

,Baba,Jogador,Time,Gols,Assistencias,Campeao,Vitorias,Empates,Derrotas
0,T01B01,José,Vermelho,8,3,1,5,2,1
1,T01B01,Renato,Vermelho,2,4,1,5,2,1
2,T01B01,Matheus,Vermelho,0,2,1,5,2,1
3,T01B01,Arthur,Vermelho,1,1,1,5,2,1
4,T01B01,Heitor,Vermelho,1,0,1,5,2,1
5,T01B01,Isaac,Azul,3,0,0,2,3,3
6,T01B01,Nicolas,Azul,0,3,0,2,3,3
7,T01B01,Murilo,Azul,1,1,0,2,3,3
8,T01B01,Vicente,Azul,0,0,0,2,3,3
9,T01B01,Paulo,Azul,1,1,0,2,3,3
10,T01B01,Pedro,Verde,0,0,0,1,3,4
11,T01B01,Samuel,Verde,0,0,0,1,3,4
12,T01B01,Ruan,Verde,0,0,0,1,3,4
13,T01B01,Bento,Verde,0,0,0,1,3,4
14,T01B01,Eduardo,Verde,1,0,0,1,3,4

In [32]:
df_parcerias = (pd.merge(df_sumula_completa[["Baba", "Jogador", "Time", "Campeao", "Vitorias", "Empates", "Derrotas"]], 
                         df_individual[["Baba", "Jogador", "Time"]], 
                         on=["Baba", "Time"], 
                         how="inner"))
df_parcerias = df_parcerias[df_parcerias["Jogador_x"] != df_parcerias["Jogador_y"]]
df_parcerias = df_parcerias.rename(columns={"Jogador_x": "Jogador", "Jogador_y": "Jogador2"})
df_parcerias

      Baba  Jogador      Time  Campeao  Vitorias  Empates  Derrotas Jogador2
1   T01B01     José  Vermelho        1         5        2         1   Renato
2   T01B01     José  Vermelho        1         5        2         1  Matheus
3   T01B01     José  Vermelho        1         5        2         1   Arthur
4   T01B01     José  Vermelho        1         5        2         1   Heitor
5   T01B01   Renato  Vermelho        1         5        2         1     José
7   T01B01   Renato  Vermelho        1         5        2         1  Matheus
8   T01B01   Renato  Vermelho        1         5        2         1   Arthur
9   T01B01   Renato  Vermelho        1         5        2         1   Heitor
10  T01B01  Matheus  Vermelho        1         5        2         1     José
11  T01B01  Matheus  Vermelho        1         5        2         1   Renato
13  T01B01  Matheus  Vermelho        1         5        2         1   Arthur
14  T01B01  Matheus  Vermelho        1         5        2         1   Heitor
15  T01B01   Arthur  Vermelho        1         5        2         1     José
16  T01B01   Arthur  Vermelho        1         5        2         1   Renato
17  T01B01   Arthur  Vermelho        1         5        2         1  Matheus
19  T01B01   Arthur  Vermelho        1         5        2         1   Heitor
20  T01B01   Heitor  Vermelho        1         5        2         1     José
21  T01B01   Heitor  Vermelho        1         5        2         1   Renato
22  T01B01   Heitor  Vermelho        1         5        2         1  Matheus
23  T01B01   Heitor  Vermelho        1         5        2         1   Arthur
26  T01B01    Isaac      Azul        0         2        3         3  Nicolas
27  T01B01    Isaac      Azul        0         2        3         3   Murilo
28  T01B01    Isaac      Azul        0         2        3         3  Vicente
29  T01B01    Isaac      Azul        0         2        3         3    Paulo
30  T01B01  Nicolas      Azul        0         2        3         3    Isaac
32  T01B01  Nicolas      Azul        0         2        3         3   Murilo
33  T01B01  Nicolas      Azul        0         2        3         3  Vicente
34  T01B01  Nicolas      Azul        0         2        3         3    Paulo
35  T01B01   Murilo      Azul        0         2        3         3    Isaac
36  T01B01   Murilo      Azul        0         2        3         3  Nicolas
38  T01B01   Murilo      Azul        0         2        3         3  Vicente
39  T01B01   Murilo      Azul        0         2        3         3    Paulo
40  T01B01  Vicente      Azul        0         2        3         3    Isaac
41  T01B01  Vicente      Azul        0         2        3         3  Nicolas
42  T01B01  Vicente      Azul        0         2        3         3   Murilo
44  T01B01  Vicente      Azul        0         2        3         3    Paulo
45  T01B01    Paulo      Azul        0         2        3         3    Isaac
46  T01B01    Paulo      Azul        0         2        3         3  Nicolas
47  T01B01    Paulo      Azul        0         2        3         3   Murilo
48  T01B01    Paulo      Azul        0         2        3         3  Vicente
51  T01B01    Pedro     Verde        0         1        3         4   Samuel
52  T01B01    Pedro     Verde        0         1        3         4     Ruan
53  T01B01    Pedro     Verde        0         1        3         4    Bento
54  T01B01    Pedro     Verde        0         1        3         4  Eduardo
55  T01B01   Samuel     Verde        0         1        3         4    Pedro
57  T01B01   Samuel     Verde        0         1        3         4     Ruan
58  T01B01   Samuel     Verde        0         1        3         4    Bento
59  T01B01   Samuel     Verde        0         1        3         4  Eduardo
60  T01B01     Ruan     Verde        0         1        3         4    Pedro
61  T01B01     Ruan     Verde        0         1        3         4   Samuel
63  T01B01     Ruan     Verde        0         1        3         4    Bento
64  T01B01     Ruan     Verde        0         1        3         4  Eduardo
65  T01B01    Bento     Verde        0         1        3         4    Pedro
66  T01B01    Bento     Verde        0         1        3         4   Samuel
67  T01B01    Bento     Verde        0         1        3         4     Ruan
69  T01B01    Bento     Verde        0         1        3         4  Eduardo
70  T01B01  Eduardo     Verde        0         1        3         4    Pedro
71  T01B01  Eduardo     Verde        0         1        3         4   Samuel
72  T01B01  Eduardo     Verde        0         1        3         4     Ruan
73  T01B01  Eduardo     Verde        0         1        3         4    Bento

In [33]:
salvamento_csv(df_individual, "desempenho_individual")
salvamento_csv(df_times, "desempenho_times")
salvamento_csv(df_info, "info_partidas")
salvamento_csv(df_sumula_completa, "sumula_completa")
salvamento_csv(df_parcerias, "parcerias")