In [1]:
import pandas as pd

In [2]:
dados_baygon = pd.read_excel(
    r"C:\Users\José Roberto\Documents\Baygon Geral\Codigo\associacao-futebol\Teste_1_Jogador_Completo\Sumula_Novo_Padrao.xlsx",
    sheet_name=None,
    header=1,
    engine="calamine"
)

In [5]:
dados_baygon["Baba"]

     Baba         Campo          Arbitro
0  T10B01  Arena Baygon  Clóvis do Apito
1  T10B02  Arena Baygon   João do Cartão
2  T10B03  Arena Baygon  Clóvis do Apito
3  T10B04  Arena Baygon   João do Cartão