In [173]:
import pandas as pd

In [174]:
sumula = pd.read_excel(
    r"C:\Users\José Roberto\Documents\Baygon Geral\Codigo\associacao-futebol\Teste_1_Jogador_Completo\Sumula_Ze.xlsx",
    sheet_name="Sumula",
    header=1,
    engine="calamine"
)
time = pd.read_excel(
    r"C:\Users\José Roberto\Documents\Baygon Geral\Codigo\associacao-futebol\Teste_1_Jogador_Completo\Times_Ze.xlsx",
    sheet_name="Times",
    header=1,
    engine="calamine"
)

In [175]:
# Não está correto o merge por "Boleiro1", foi somente para facilitar/adiantar
duplas = (sumula[["Baba", "Colete", "Boleiro", "Pizza", "Vitorias", "Derrotas", "Empates"]]
          .merge(time, how="left", left_on=["Baba", "Colete", "Boleiro"], right_on=["Baba", "Colete", "Boleiro1"])
          .melt(id_vars=["Baba", "Colete", "Boleiro", "Pizza", "Vitorias", "Derrotas", "Empates"],
    value_vars=["Boleiro1", "Boleiro2", "Boleiro3", "Boleiro4", "Boleiro5", "Boleiro6"],
    var_name="Origem",
    value_name="SegundoBoleiro")
    .rename(columns={"SegundoBoleiro":"Boleiro2"})
    .dropna(subset=["Boleiro2"])
    .drop(columns="Origem"))

duplas = duplas[duplas["Boleiro"] != duplas["Boleiro2"]].reset_index(drop=True)

In [176]:
duplas.head(5)

     Baba    Colete Boleiro  Pizza  Vitorias  Derrotas  Empates Boleiro2
0  T10B01  Vermelho      Zé      0         5         3        1   Nelson
1  T10B02     Preto      Zé      0         5         4        0   Abraão
2  T10B03     Cinza      Zé      0         0         6        1   Nelson
3  T10B04   Amarelo      Zé      0         3         0        3      Pig
4  T10B05     Verde      Zé      0         4         5        0    Leléo

In [177]:
grupo_duplas = duplas.groupby(["Boleiro", "Boleiro2"]).agg(
    Total_Pizza=("Pizza", "sum"),
    Total_Vitorias=("Vitorias", "sum"),
    Total_Derrotas=("Derrotas", "sum"),
    Total_Empates=("Empates", "sum"),
    Total_Babas=("Baba", "count")
).reset_index()
grupo_duplas["Total_Partidas"] = grupo_duplas["Total_Vitorias"] + grupo_duplas["Total_Derrotas"] + grupo_duplas["Total_Empates"]
grupo_duplas["P_Vitorias"] = grupo_duplas["Total_Vitorias"] / grupo_duplas["Total_Partidas"]
grupo_duplas["P_Derrotas"] = grupo_duplas["Total_Derrotas"] / grupo_duplas["Total_Partidas"]
grupo_duplas["P_Empates"] = grupo_duplas["Total_Empates"] / grupo_duplas["Total_Partidas"]
grupo_duplas["P_VD"] = grupo_duplas["Total_Vitorias"] / (grupo_duplas["Total_Vitorias"] + grupo_duplas["Total_Derrotas"])
grupo_duplas["P_Pizza"] = grupo_duplas["Total_Pizza"] / grupo_duplas["Total_Babas"]
grupo_duplas = grupo_duplas[
            [
                "Boleiro",
                "Boleiro2",
                "Total_Pizza",
                "Total_Vitorias",
                "Total_Derrotas",
                "Total_Empates",
                "Total_Partidas",
                "Total_Babas",
                "P_Vitorias",
                "P_Derrotas",
                "P_Empates",
                "P_VD",
                "P_Pizza"
            ]
        ]

In [178]:
# grupo_duplas = grupo_duplas.sort_values("P_Vitorias", ascending=False).reset_index(drop=True)
# grupo_duplas = grupo_duplas.sort_values("P_Derrotas", ascending=False).reset_index(drop=True)
# grupo_duplas = grupo_duplas.sort_values("P_VD", ascending=False).reset_index(drop=True)
grupo_duplas = grupo_duplas.sort_values(["P_Pizza", "P_Vitorias"], ascending=False).reset_index(drop=True)
grupo_duplas.index = grupo_duplas.index + 1
grupo_duplas

,Boleiro,Boleiro2,Total_Pizza,Total_Vitorias,Total_Derrotas,Total_Empates,Total_Partidas,Total_Babas,P_Vitorias,P_Derrotas,P_Empates,P_VD,P_Pizza
1,Zé,GB,1,5,1,1,7,1,0.714286,0.142857,0.142857,0.833333,1.000000
2,Zé,Colossus,1,5,2,2,9,1,0.555556,0.222222,0.222222,0.714286,1.000000
3,Zé,Lécio,2,17,7,5,29,3,0.586207,0.241379,0.172414,0.708333,0.666667
4,Zé,Igor,1,9,6,1,16,2,0.562500,0.375000,0.062500,0.600000,0.500000
5,Zé,Adilson,2,18,10,6,34,4,0.529412,0.294118,0.176471,0.642857,0.500000
6,Zé,Janderson,1,9,4,4,17,2,0.529412,0.235294,0.235294,0.692308,0.500000
7,Zé,Dudo,1,5,5,3,13,2,0.384615,0.384615,0.230769,0.500000,0.500000
8,Zé,Leléo,2,21,18,5,44,5,0.477273,0.409091,0.113636,0.538462,0.400000
9,Zé,C. Dourado,1,10,10,3,23,3,0.434783,0.434783,0.130435,0.500000,0.333333
10,Zé,Nelson,2,25,20,9,54,7,0.462963,0.370370,0.166667,0.555556,0.285714
11,Zé,N. Cage,1,12,11,6,29,4,0.413793,0.379310,0.206897,0.521739,0.250000
12,Zé,Massa,3,44,43,16,103,13,0.427184,0.417476,0.155340,0.505747,0.230769
13,Zé,Milson,1,14,14,10,38,5,0.368421,0.368421,0.263158,0.500000,0.200000
14,Zé,Fabinho,1,19,13,8,40,6,0.475000,0.325000,0.200000,0.593750,0.166667
15,Zé,João,1,19,14,11,44,6,0.431818,0.318182,0.250000,0.575758,0.166667
16,Zé,Anthony,1,20,18,10,48,6,0.416667,0.375000,0.208333,0.526316,0.166667
17,Zé,Tuta,1,17,17,11,45,6,0.377778,0.377778,0.244444,0.500000,0.166667
18,Zé,Pig,1,14,18,9,41,6,0.341463,0.439024,0.219512,0.437500,0.166667
19,Zé,Rick,1,17,24,12,53,7,0.320755,0.452830,0.226415,0.414634,0.142857
20,Zé,Abraão,0,5,4,0,9,1,0.555556,0.444444,0.000000,0.555556,0.000000
21,Zé,L. Bieber,0,5,1,3,9,2,0.555556,0.111111,0.333333,0.833333,0.000000
22,Zé,Deyverson,0,4,4,0,8,1,0.500000,0.500000,0.000000,0.500000,0.000000
23,Zé,Guerra,0,1,1,0,2,1,0.500000,0.500000,0.000000,0.500000,0.000000
24,Zé,Ari,0,19,12,12,43,6,0.441860,0.279070,0.279070,0.612903,0.000000
25,Zé,Ed Rex,0,13,14,3,30,4,0.433333,0.466667,0.100000,0.481481,0.000000
26,Zé,Diego,0,3,3,1,7,1,0.428571,0.428571,0.142857,0.500000,0.000000
27,Zé,Haaland,0,3,3,1,7,1,0.428571,0.428571,0.142857,0.500000,0.000000
28,Zé,Keoma,0,3,1,3,7,2,0.428571,0.142857,0.428571,0.750000,0.000000
29,Zé,L. Diegoverso,0,6,5,3,14,2,0.428571,0.357143,0.214286,0.545455,0.000000
30,Zé,Yann,0,5,3,4,12,2,0.416667,0.250000,0.333333,0.625000,0.000000
31,Zé,Jacaré,0,9,7,6,22,3,0.409091,0.318182,0.272727,0.562500,0.000000
32,Zé,Lan House,0,6,7,2,15,2,0.400000,0.466667,0.133333,0.461538,0.000000
33,Zé,Mr. M,0,6,8,1,15,2,0.400000,0.533333,0.066667,0.428571,0.000000
34,Zé,Omar,0,2,0,3,5,1,0.400000,0.000000,0.600000,1.000000,0.000000
35,Zé,Cantu,0,3,5,0,8,2,0.375000,0.625000,0.000000,0.375000,0.000000
36,Zé,Massinha,0,3,3,2,8,1,0.375000,0.375000,0.250000,0.500000,0.000000
37,Zé,Tarta,0,11,19,5,35,6,0.314286,0.542857,0.142857,0.366667,0.000000
38,Zé,Bola 7,0,2,4,1,7,1,0.285714,0.571429,0.142857,0.333333,0.000000
39,Zé,Salsicha,0,2,4,1,7,1,0.285714,0.571429,0.142857,0.333333,0.000000
40,Zé,Marcus,0,5,11,4,20,3,0.250000,0.550000,0.200000,0.312500,0.000000
41,Zé,Nativo,0,1,0,3,4,1,0.250000,0.000000,0.750000,1.000000,0.000000
42,Zé,Jaedson,0,4,8,5,17,3,0.235294,0.470588,0.294118,0.333333,0.000000
43,Zé,Felipe,0,8,23,6,37,5,0.216216,0.621622,0.162162,0.258065,0.000000
44,Zé,Iago,0,1,4,0,5,1,0.200000,0.800000,0.000000,0.200000,0.000000
45,Zé,John,0,1,4,0,5,1,0.200000,0.800000,0.000000,0.200000,0.000000
46,Zé,Saguin,0,1,0,6,7,1,0.142857,0.000000,0.857143,1.000000,0.000000
47,Zé,W. Cão,0,2,10,4,16,2,0.125000,0.625000,0.250000,0.166667,0.000000
48,Zé,Antonio,0,0,5,1,6,1,0.000000,0.833333,0.166667,0.000000,0.000000
49,Zé,Sinho,0,0,6,1,7,1,0.000000,0.857143,0.142857,0.000000,0.000000